 body {
     font-family: Arial;
     margin: 40px;
 }

 input {
     padding: 8px;
     width: 200px;
 }

 button {
     padding: 8px 12px;
     margin-left: 5px;
     cursor: pointer;
 }

 ul {
     padding: 0;
 }

 li {
     margin: 8px 0;
     display: flex;
     align-items: center;
 }

 .done {
     text-decoration: line-through;
     color: gray;
 }
 .del-btn{
    border: 1px solid;
    padding: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }