
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}
.container{
    background-color: #fff;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.container_title{
    text-align: center;
    font-size: 20px;
}
.container_grid{
    margin: 10px 0;
}
.container_grid_row{
    display: flex;
}
.container_grid_column{
    width: 70px;
    height: 70px;
    border:1px solid;
    cursor: pointer;
    font-size: 30px;
}
.center_child{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    visibility: hidden;
}
.resetBtn{
    border: none;
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}